[init]
	defaultBranch = main

[pull]
	rebase = true

[user]
	name = Hoomaan
	email = ckoliber@gmail.com

[alias]
	d = pull
	p = push
	st = status
	co = checkout
	br = branch
	cm = commit
	df = diff
	lg = log --oneline --graph --all --decorate

[credential "https://github.com"]
	helper = !gh auth git-credential

[credential "https://gitlab.com"]
	helper = !glab auth git-credential

[credential "https://git.ckoliber.dev"]
	helper = !tea login helper

[include]
	path = ~/.gitconfig.local
